.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.post__header {
  display: flex;
  align-items: center;

  /* Top -> Right -> Bottom -> Left */
  padding: 14px 4px 14px 16px;
}

.post__image {
  width: 100%;
  margin: auto;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding: 10px;
}

.post__avatar {
  margin-right: 10px;
}

.post__commentBox {
  display: flex;
  font-size: 0;
  margin-top: 0px;
}

.post__comments {
  padding: 10px;
}

.post__input {
  border: 1px solid lightgray;
  border-right: none;
  border-radius: 0px;
  padding: 10px;
  flex: 1;
  resize: none;
  height: auto;
  max-height: 30px;
}

.post__button {
  border: none;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 0px;
  margin-left: 0px;
  width: 50px;
  height: auto;

  background-color: transparent;
  color: #6082a3;
}

.post__button:hover {
  background-color: #6082a3;
  color: white;
}

.post__deleteComment {
  display: inline-table;
}

.post__header button {
  width: 25px;
  margin-left: 250px;
}
