* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.app__headerImage {
  /* width: 5%; */
  max-width: 100px;
  height: auto;
  object-fit: contain;
}
